<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add or Remove Input Fields Dynamically</title>
    <link href="static\css\styles.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav>
         <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
         <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('view') }}">Agents</a></li>
                <li><a href="{{ url_for('asset_view') }}">Peripherals</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>   
        </div>
        </nav>
    </header>
    <div class="addAsset">
        <form method="POST" action="{{ url_for('add_asset_form') }}">
            {{ form.csrf_token}}
    
        
        {{ form.name.label }}
        {{ form.name(size=20) }}
    
        {{ form.category.label }}
        {{ form.category() }}
    
        {{ form.asset_tag.label }}
        {{ form.asset_tag(size=20) }}
    
        {{ form.serial_no.label }}
        {{ form.serial_no(size=20) }}
    
        <input type="submit" value="Add" class="buttonAdd">
        </form>
        {% if error %}

    <p>{{ error }}</p>

    {% endif %}
    </div>
    

</body>

</html>
