<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add or Remove Input Fields Dynamically</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin-top: 1%;
            justify-content: center;
            align-items: center;
        }

        #rowAdder {
            margin-left: 17px;
        }
    </style>
</head>

<body>
    <form method="POST" action="{{ url_for('assign_asset') }}">
        {{ form.csrf_token}}

    <div class="input-wrapper">
        
    {{ form.name.label }}
    {{ form.name(size=20) }}

    {{ form.category.label }}
    {{ form.category() }}
    
    {{ form.asset_tag.label }}
    {{ form.asset_tag(size=20) }}
    
    {{ form.serial_no.label() }}
    {{ form.serial_no(size=20) }}

    {{ form.user.label() }}
    {{ form.user()}}


    <a href="javascript:void(0);" class="add-input" title="Add input"><img src="/static/img/add.png"/></a>
</div>



<input type="hidden" id="num_fields" name="num_fields" value="1">  
    <input type="submit" value="Add">
    </form>
          
    {% if error %}

    <p style="color:red;">{{ error }}</p>

    {% endif %}


    <script>

// Dynamic adding and removing of fields 
$(document).ready(function() {
  var max_input_fields = 10;
  var add_input_count = 1;
  var add_input = $('.add-input');
  var input_wrapper = $('.input-wrapper');
  var num_fields_input = $('#num_fields');

  // Get selectField data from this route
  function getSelectOptions() {
    return $.ajax({
      url: '/get_select_options', 
      dataType: 'json'
    });
  }

  $(add_input).click(function() {
    if (add_input_count < max_input_fields) {
      add_input_count++;
      num_fields_input.val(add_input_count);

      getSelectOptions()
        .done(function(data) {
          // Function to create the select element with fetched options
          function createSelect(options) {
            var selectHtml = '<select class="form-control" name="cat-' + add_input_count + '" id="cat-' + add_input_count + '" value="">';
            for (var i = 0; i < options.length; i++) {
              selectHtml += '<option value="' + options[i].value + '">' + options[i].label + '</option>';
            }
            selectHtml += '</select>';
            return selectHtml;
          }

          // Create the new input element with updated name and ID
          var new_input = '<div><input type="text" class="form-control" name="name-' + add_input_count + '" id="name-' + add_input_count + '" value=""/>';
          var new_input_2 = createSelect(data);

          var link = '<a href="javascript:void(0);" class="remove-input" title="Remove input"><img src="/static/img/remove.png"/></a></div>';
          var combine = new_input + new_input_2;
          $(input_wrapper).append(combine); // Corrected variable name (combine -> combine)
        });

        return false;
    }
  });

  $(input_wrapper).on('click', '.remove-input', function(e) {
    e.preventDefault();
    $(this).parent('div').remove();
    add_input_count = Math.max(1, input_wrapper.children('div').length); // Update count on removal
    num_fields_input.val(add_input_count);
  });

  // Removed unnecessary code (commented out)
  $('form').submit(function(event) {
    var count = $('.remove-input').length; 
    num_fields_input.val(count + 1);
    alert(count);
  });
});



    </script>

</body>

</html>
