<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------ TITLE ------------>
    <title>Orkestra Inventory System</title>
    <!------------ CSS ------------>
    <link rel="stylesheet" href="static\css\styles.css">
    <!------------ FONT ------------>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<body>
    <section class="header">
       <nav>
        <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
        <div class="nav-links">
            <ul>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
       </nav>
       <div class="text-box">
        <h1>Harmony through Technology</h1>
        <p>Welcome to Orkestra Inventory System!</p>
        <a href="{{ url_for('index') }}" class="hero-btn">Login</a>
       </div>
    </section>
 
    

</body>