<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link rel="stylesheet" href="static\css\styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
        </nav>
    </header>
    
    <div class="container">   
    <div class="wrapper">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <a href="{{ url_for('index') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
            <hr>
            <h1>Login</h1>
            <div class="input-box">
                {{ form.username(size=20, class_='username-box', placeholder="Username") }}
            </div>
            <div class="input-box">
                {{ form.password(size=20, class_='password-box', placeholder="Password") }}
            </div>
            <div class="input-field">
                <input type="submit" value="Login" class="input-submit"></input>
            </div>
            <hr>    
            <div class="support">
                <a href="#">Forgot Password?</a>
            </div> 
            {% if error != "" %}
            <p style="color:red; "> {{ error }} </p>
            {% endif %}
        </form>
    </div>
</section>
</body>