<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>

<body>
    <section class="header">
        <nav>
         <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
        </nav>
        <div class="login-box-content">
            <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
            <form method="POST" action="{{ url_for('index') }}">
                {{ form.csrf_token }}
                {{ form.username.label }}
                {{ form.username(size=20) }}
                {{ form.password.label }}
                {{ form.password(size=20) }}
                <button type="submit" value="Add" class="btn btn-primary">Submit</button>
            </form>
            
            {% if error != "" %}
            <p> {{ error }} </p>
            {% endif %}
            </div>
     </section>
</body>