<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link href="static\css\styles.css" rel="stylesheet" />
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <header>
        <nav>
         <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
         <div class="nav-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Agents</a></li>
                <li><a href="#">Peripherals</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>   
        </div>
        </nav>
    </header>
    <div class="search">
        
        <div class="searchForm">
            <form method="POST" action="{{ url_for('search') }}">
                <label for="fname">Orkestra Agents</label><br>
                <i class="fa fa-search icon"></i>
                <input type="text" id="fname" name="fname" placeholder="Search" class="searchBar"><br>
                <input type="submit" value="Submit" class="searchButton">
            </form> 
        </div>
        <div class="searchTable">
            {% if match %}
        <!-- <h1>List of Employees</h1>
        <p>Employees that match with the provided search term</p> -->
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Agent Name</th>
                    <th rowspan="2">Role</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in match %}
                <tr>
                    <td>
                        <a href="{{ url_for('getUser', fullname=employee['full_name']) }}">
                            {{ employee['full_name'] }}
                        </a>
                    </td>
                    <td>{{ employee['role'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif error %}
    
        <p>{{ error }}</p>
    
        {% endif %}
        </div>
    </div>
</body>
</html>