<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <nav>
         <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='assets/orkestra-main-logo.png') }}" alt=""></a>
         <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('view') }}">Assigned Assets</a></li>
                <li><a href="{{ url_for('asset_view') }}">Peripherals</a></li>
                <li><a href="{{ url_for('view_emp') }}">Employee</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>   
        </div>
        </nav>
    </header>
    <div class="updateAsset">
        <form method="POST" action="{{ url_for('asset_update', num=num) }}">  
            {{ form.csrf_token }}
    
            {{ form.name.label }}
            {{ form.name(size=20, value=asset.name) }}  
    
            {{ form.category.label }}
            {{ form.category() }}   
    
            {{ form.asset_tag.label }}
            {{ form.asset_tag(size=20, value=asset.asset_tag) }}  
            
            {{ form.serial_no.label }}
            {{ form.serial_no(size=20, value=asset.serial_number) }} 
             <input type="submit" value="Update">
          </form>
          
              
        {% if error %}
    
        <p style="color:red;">{{ error }}</p>
    
        {% endif %}
    </div>
    

</body>

</html>
