<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add or Remove Input Fields Dynamically</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body>
  <header>
    <nav>
     <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='assets/orkestra-main-logo.png') }}" alt=""></a>
     <div class="nav-links">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('view') }}">Assigned Assets</a></li>
            <li><a href="{{ url_for('asset_view') }}">Peripherals</a></li>
            <li><a href="{{ url_for('view_emp') }}">Employee</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>   
    </div>
    </nav>
</header>

    <div class="">
      {% with messages = get_flashed_messages() %}
      {% if messages or form.errors %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {% if messages %}
            {{ messages[0] }}  {% else %}  <ul>  {% for field, errors in form.errors.items() %}
                <li>  {{ field }}:  {% for error in errors %}
                    {{ error }}<br>  {% endfor %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
      {% endwith %}
      <div class="updateEmp">
        <form method="POST" action="{{ url_for('update_emp_controller') }}">
          {{ form.csrf_token}}
  
      {{ form.id(type='hidden')}}
        
      {{ form.name.label }}
      {{ form.name(size=20) }}
  
      {{ form.role.label }}
      {{ form.role() }}
  
      <input type="submit" value="Update details">
      </form>
      </div>
      
    </div>
    
          
</body>

</html>
