<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link href="static\css\styles.css" rel="stylesheet" />
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</head>

<body>
    <header>
        <nav>
         <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
         <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Agents</a></li>
                <li><a href="{{ url_for('asset_view') }}">Peripherals</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>   
        </div>
        </nav>
    </header>
    <section class="viewHeader">
        <h1>Orkestra Inventory System</h1>
    </section>
    <div class="view">
        
    <div class="table-container">
        <section class="viewTable">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Employee Name</th>
                        <th rowspan="2">Asset Name</th>
                        <th rowspan="2">Category</th>
                        <th rowspan="2">Asset Tag</th>
                        <th rowspan="2">Serial Number</th>
                        <th rowspan="2">Replacement No</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp_name, asset_list in emp_details.items() %}
                    <tr>
                        <td rowspan="{{ asset_list|length }}"><a href="{{ url_for('getUser', fullname=emp_name) }}">
                            {{ emp_name }}
                        </a></td>
                        {% for asset in asset_list %}
                        <td>{{ asset['name'] }}</td>
                        <td>{{ asset['category'] }}</td>
                        <td>{{ asset['asset_tag'] }}</td>
                        <td>{{ asset['serial_number'] }}</td>
                        <td>{{ asset['replacement_no'] }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
        </section>
    </div>
    
    
            <!-- totals -->
            {% if number_of_assets %}
            <div class="viewCategory">
              <label for="pill-input">Total Assets:</label>
              <span class="pill-input" style="font-size: 3.5rem;">{{ number_of_assets|length }}</span>
              <span class="">Number</span>
            </div>
          {% else %}
          <div>
            <span class="pill-input">No assets found.</span>
          </div>
          {% endif %}
            <div></div>
            <div class="viewAgent">
                <label for="pill-input">Total Agents:</label>
                <span class="pill-input" style="font-size: 3.5rem;">{{ agents }}</span>
              <span class="pill-input">Number</span>

            </div>
       

                {% if error %}

                <p>{{ error }}</p>

                {% endif %}
    
    
</body>
</html>
