<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
</head>

<style>
    table, th, td {
  border: 1px solid black;
}

  .pill-input {
    pointer-events: none;
  background-color: #EFF4FF;
  border: none;
  color: #2557D6;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 13px;
  margin-left: -1px;
  margin-bottom: 10px;
  border-radius: 100px;
}

</style>
<body>
    <h1>Orkestra Inventory System</h1>

    <form method="POST" action="{{ url_for('search') }}">
        <label for="fname-view">Full Name:</label><br>
        <input type="text" id="fname-view" name="fname-view"><br>
        <input type="submit" value="Submit">
    </form> 

    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Asset Name</th>
                <th>Category</th>
                <th>Asset Tag</th>
                <th>Serial Number</th>
                <th>Replacement No</th>
            </tr>
        </thead>
        <tbody>
            {% for emp_name, asset_list in emp_details.items() %}
            <tr>
                <td rowspan="{{ asset_list|length }}">{{ emp_name }}</td>
                {% for asset in asset_list %}
                <td>{{ asset['name'] }}</td>
                <td>{{ asset['category'] }}</td>
                <td>{{ asset['asset_tag'] }}</td>
                <td>{{ asset['serial_number'] }}</td>
                <td>{{ asset['replacement_no'] }}</td>
                </tr>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

    {% if number_of_assets %}
    {%  for category, count in number_of_assets %}

    <label for="pill-input">Total {{ category }}:</label>
    <span class="pill-input">{{ count }}</span>
    {% endfor %}
    {% else %}
    <span class="pill-input">No assets found.</span>

    {% endif %}

    {% if agents %}

    <label for="pill-input">Total Agents:</label>
    <span class="pill-input">{{ agents }}</span>
    {% endif %}


    {% if error %}

    <p>{{ error }}</p>

    {% endif %}
</body>
</html>
