<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://kit.fontawesome.com/b5d820a994.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static\css\alert.css">


</head>
<body>
  <header>
    <nav>
     <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
     <div class="nav-links">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('view') }}">Assigned Assets</a></li>
          <li><a href="{{ url_for('asset_view') }}">Peripherals</a></li>
          <li><a href="{{ url_for('view_emp') }}">Employee</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>   
    </div>
    </nav>
</header>

{% if msg %}
     

<div class="alert" style="border-radius: 5px;">
 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>{{ msg }}</strong> 
</div>

{% elif request.args.get('msg') %}

  <div class="alert" style="border-radius: 5px;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>{{ request.args.get('msg') }} </strong> 
  </div>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
      <div class="alert" style="border-radius: 5px;">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong> {{ messages[0] }}</strong> 
        </div>
  </ul>
{% endif %}
{% endwith %}
    <div class="viewEmployee">
        <h1>Assign Asset to Agent Form</h1>    
        <div class="viewEmpS">
          <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search by name...">
          <a href="{{ url_for('add_emp') }}" class="btn btn-primary"><strong>Add employee</strong></a>

        </div>
        <section class="viewEmpT">
          <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for emp in employee %}
              <tr>
                <th scope="row">{{ emp.id }}</th>
                <td>{{ emp.full_name }}</td>
                <td>{{ emp.role }}</td>
                <td>
                  <a href="{{ url_for('name_emp_update', fn=emp.full_name) }}"><i class="fa-solid fa-pen"></i>
                    &nbsp;
                  </a>
                  <a href="{{ url_for('confirm_delete_emp', fn=emp.full_name) }}" class="confirmation"><i class="fa-solid fa-trash"></i>
                  </a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </div>
    </td>

  
    
  
      <script>
   function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Skip the first row (header row)
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td"); // Get all table data cells in the row
    var found = false; // Flag to check if a match is found

    for (var j = 0; j < td.length; j++) {
      txtValue = td[j].textContent || td[j].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        found = true;
        break;
      }
    }

    if (found) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }

  // Ensure header row is visible when all rows are shown
  table.tHead.style.display = "";
}


        </script>

<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete this user? NOTE: Deleting this will delete all entry of this employee across the database.')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      

</body>
</html>