
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orkestra Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/2b2dc93b33.js" crossorigin="anonymous"></script>
    </head>
</head>

<body>
    <header>
        <nav>
         <a href="{{ url_for('home') }}"><img src="static\css\assets\orkestra-main-logo.png" alt=""></a>
         <div class="nav-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Agents</a></li>
                <li><a href="#">Peripherals</a></li>
                <li><a href="{{ url_for('login') }}">Logout</a></li>
            </ul>   
        </div>
        </nav>
    </header>
    <section class="viewHeader">
        <h1>Orkestra Inventory Systsem</h1>
    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong> {{ messages[0] }}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      </ul>
    {% endif %}
  {% endwith %}
          
    <div class="table-container">
        <section class="viewTable">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Employee Name</th>
                        <th rowspan="2">Asset Name</th>
                        <th rowspan="2">Category</th>
                        <th rowspan="2">Asset Tag</th>
                        <th rowspan="2">Serial Number</th>
                        <th rowspan="2">Replacement Count</th>
                        <th rowspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp_name, asset_list in emp_details.items() %}
                    <tr>
                        <td rowspan="{{ asset_list|length }}">{{ emp_name }}</td>
                        {% for asset in asset_list %}
                        <td>{{ asset['name'] }}</td>
                        <td>{{ asset['category'] }}</td>
                        <td>{{ asset['asset_tag'] }}</td>
                        <td>{{ asset['serial_number'] }}</td>
                        <td>{{ asset['Replace_No'] }}</td>
                        <td>
                           
                            <a href="{{ url_for('replace_asset', asset_id=asset['asset_id'], fn=emp_name) }}"><i class="fa-solid fa-pen"></i>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                
        </section>
    </div>
    
    <div>
        {% if error and no_assets_flag %}

        <p>{{ error }}</p>
        <a href="{{ url_for('assign_asset') }}" id="add-asset-btn">Add Asset</a>

        {% elif error %}
        <p>{{ error }}</p>

        {% else %}

        
        <form method="POST" action="" ></form>
        {{ form.names.label }}
        {{ form.names }}
        <input type="submit" value="Assign to this agent!">

        {% endif %}
    </div>
</body>
</html>
